@import "./app/shared/styles/utils.scss";

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}
body {
    height: 100%;
    @include font-family-poppins;
}

.layout-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.layout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
