@import "../../styles/var.scss";
@import "../../styles/typography.scss";

.container-table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    .table-wrapper {
        width: 100%;
        max-width: 1429px;
        @media (max-width: 1429px) {
            max-width: 1244px;
        }
    }

    .table-filter-container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 11px;
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }
    }

    .search-filter-flex {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        gap: 9px;
        @media (max-width: 768px) {
            justify-content: center;
        }

        .search-filter-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            background-color: $bg-white;
            border-radius: 39px;
            width: 100%;
            max-width: 380px;

            .search-input {
                width: 100%;
                max-width: 335px;
                border: none;
                background: transparent;
                border: none;
                outline: none;
                color: $filter-input-color;
                @include search-font;
                padding: 6px 0 6px 29px;

                &::placeholder {
                    color: $filter-input-color;
                }
            }

            /*Input type search ile gelen varsayılan ikonu kaldırır.*/
            .search-input::-webkit-search-cancel-button {
                -webkit-appearance: none;
                appearance: none;
            }

            .search-input::-ms-clear {
                display: none;
                width: 0;
                height: 0;
            }

            .search-input::-webkit-search-decoration,
            .search-input::-webkit-search-results-decoration,
            .search-input::-webkit-search-results-button {
                display: none;
            }
            /*Input type search ile gelen varsayılan ikonu kaldırır.*/

            .search-icon-purple {
                overflow: hidden;
                width: 45px;
                padding: 14px;
                height: 42px;
                background-color: $bg-purple;
                border-radius: 0 39px 39px 0;
                cursor: pointer;
            }

            .button-clear {
                position: absolute;
                right: 4rem;
            }
        }

        .filter-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            width: 49px;
            height: 42px;
            border-radius: 29px;
            background-color: $bg-white;
        }
    }

    .btn-center {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 14px;
        .btn-plus-icons {
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .position-vertical,
        .position-horizontal {
            display: block;
        }

        .position-vertical {
            margin-right: -5px;
        }

        .position-horizontal {
            margin-left: -2px;
        }
    }

    .table-content {
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid $border-light-gray;

        @media (max-width: 768px) {
            overflow-x: scroll;
        }
        /*Mobil Cihazlarda Gözükecek Olan Tablo Scroll Renklerini Özelleştirme */
        &::-webkit-scrollbar {
            height: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: $bg-white;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $bg-purple;
            border-radius: 10px;
        }
        /*Mobil Cihazlarda Gözükecek Olan Tablo Scroll Renklerini Özelleştirme */

        .table-social-media {
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;

            .table-header {
                padding: 10px;
                text-align: left;
                background-color: $bg-white;
                border-bottom: 1px solid $border-table;

                &:nth-child(1),
                &:nth-child(2) {
                    border-right: 1px solid $border-table;
                }

                @media (max-width: 768px) {
                    width: 170px;
                }
            }

            .table-header-content {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 1rem;
                @include table-header;
                color: $black-color;
            }

            .table-row {
                @include table-row;
                color: $black-color;
            }

            .table-data {
                padding: 10px;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:nth-child(1),
                &:nth-child(2) {
                    border-right: 1px solid $border-table;
                }
            }

            .table-row-media {
                background-color: $bg-white;
                height: 63px;
            }

            tbody .table-row:nth-child(odd) {
                background-color: $bg-white;
            }

            tbody .table-row:nth-child(even) {
                background-color: transparent;
            }

            tbody .table-row {
                height: 66px;
                &:hover {
                    box-shadow: 0px 1px 15px 0px $table-box-shadow;
                    background-color: $bg-white;
                    transition: 0.3s;
                    cursor: pointer;
                }
            }

            th {
                cursor: pointer;
            }
        }
    }

    .table-warn-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        width: 100%;
        height: 100%;
        gap: 24px;
        padding: 3rem 0;
        .rast-mobile-logo {
            border-radius: 24px;
        }
        .text-no-data {
            @include header-font;
        }
    }
}
