@import "var";
@import "typography";

.container{
    background: $bg-home-linear-gradient;
    border-radius: 6px;
    width: 100%;
    height: 100vh;
    max-width: 1581px;
    text-align: center;
}