@mixin icon-16{
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
}

.icon-eye {
    @include icon-16();
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M14.0869 6.56889C14.86 7.38228 14.86 8.61805 14.0869 9.43143C12.783 10.8033 10.5437 12.6668 8.00004 12.6668C5.45636 12.6668 3.21704 10.8033 1.91318 9.43143C1.14011 8.61805 1.14011 7.38228 1.91318 6.5689C3.21704 5.19705 5.45636 3.3335 8.00004 3.3335C10.5437 3.3335 12.783 5.19705 14.0869 6.56889Z" stroke="%230B0D14" stroke-width="1.5"/><path d="M10 8.00016C10 9.10473 9.10461 10.0002 8.00004 10.0002C6.89547 10.0002 6.00004 9.10473 6.00004 8.00016C6.00004 6.89559 6.89547 6.00016 8.00004 6.00016C9.10461 6.00016 10 6.89559 10 8.00016Z" stroke="%230B0D14" stroke-width="1.5"/></svg>');
}

.icon-eye-disable {
    @include icon-16();
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none"><path d="M2.66671 2.6665L13.3334 13.3332M9.33337 9.49058C8.97954 9.80727 8.51228 9.99984 8.00004 9.99984C6.89547 9.99984 6.00004 9.10441 6.00004 7.99984C6.00004 7.4876 6.19261 7.02034 6.5093 6.6665M13.0719 10.405C13.4528 10.0733 13.7935 9.73978 14.0869 9.4311C14.86 8.61772 14.86 7.38195 14.0869 6.56857C12.783 5.19673 10.5437 3.33317 8.00004 3.33317C7.40579 3.33317 6.82815 3.43488 6.27517 3.60826M4.33337 4.53543C3.361 5.15613 2.5318 5.91769 1.91318 6.56857C1.14011 7.38195 1.14011 8.61772 1.91318 9.4311C3.21704 10.8029 5.45636 12.6665 8.00004 12.6665C9.24543 12.6665 10.4179 12.2198 11.4433 11.6028" stroke="%230B0D14" stroke-width="1.5" stroke-linecap="round"/></svg>');
}