<div class="container-login">
    <div class="login-card">
        <form [formGroup]="loginForm" (ngSubmit)="login()" (keyup.enter)="login()">
            <img class="login-logo" width="80" height="80" src="assets/images/rast-mobile-logo.webp" loading="eager"
                role="presentation" alt="Rast Mobile Logo">
            <h1 class="login-header">Giriş Yap</h1>
            <div class="form-field"
                [class.error]="(loginForm.get('email')?.hasError('required') || loginForm.get('email')?.hasError('email')) &&  (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)">
                <input type="text" formControlName="email" [placeholder]="'E-Posta'" />
                @if (loginForm.get('email')?.hasError('required') && (loginForm.get('email')?.touched ||
                loginForm.get('email')?.dirty)) {
                <span class="hint error-message">Bu alan zorunludur</span>
                } @else if (loginForm.get('email')?.hasError('email') && (loginForm.get('email')?.touched ||
                loginForm.get('email')?.dirty)) {
                <span class="hint error-message">Lütfen geçerli mail adresi giriniz.</span>
                }
            </div>
            <div class="form-field" [class.error]="(loginForm.get('password')?.hasError('required') ||  loginForm.get('password')?.hasError('minlength') || loginForm.get('password')?.hasError('maxlength')) &&
            (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)">
                <button class="button btn-eye" (click)="showPassword($event)">
                    <div class="icon-eye" *ngIf="passwordType == 'password'"></div>
                    <div class="icon-eye-disable" *ngIf="passwordType !== 'password'"></div>
                </button>
                <input [type]="passwordType" formControlName="password" [placeholder]="'Şifre'" />
                @if (loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.touched ||
                loginForm.get('password')?.dirty)) {
                <span class="hint error-message">Bu alan zorunludur</span>
                } @else if ((loginForm.get('password')?.hasError('minlength') ||
                loginForm.get('password')?.hasError('maxlength')) && (loginForm.get('password')?.touched ||
                loginForm.get('password')?.dirty)) {
                <span class="hint error-message">Şifreniz 3-20 karakter aralığında olmalıdır.</span>
                }
            </div>
            <div class="form-field checkbox-flex">
                <label (click)="authRepository.rememberMeChecked = !authRepository.rememberMeChecked">Beni
                    Hatırla</label>
                <input name="rememberMe" (click)="authRepository.rememberMeChecked = !authRepository.rememberMeChecked"
                    class="checkbox-input" [checked]="authRepository.rememberMeChecked" type="checkbox">
            </div>
            <button class="btn-purple" type="submit" [disabled]="!loginForm.valid|| authRepository.loading"
                [class.btn-loader]="authRepository.loading">Giriş Yap</button>
        </form>
    </div>
</div>