<main class="layout-main">
    <div>
        <app-header></app-header>
    </div>
    <div class="layout-content">
        <button (click)="openDialog()">Dialog Aç</button>
        <app-dialog *ngIf="dialogService.dialogIsOpen"></app-dialog>
        <div class="container">
            @for (item of homeRepository.socialMediasArray; track $index) {
            <p>{{item._id}}</p>
            <p>{{item.name}}</p>
            <p>{{item.description}}</p>
            <button class="btn" (click)="getSocialMediaWithID(item._id)">ID İle Al Test</button>
            <br>
            <button class="btn" (click)="deleteSocialMedia(item._id)">Sil Test</button>
            <hr>
            }
        </div>
    </div>
</main>