@import "../colors.scss";
@import "../var.scss";

button {
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.btn-purple {
    background-color: $bg-purple;
    width: 175px;
    height: 42px;
    color: white;
    border-radius: 39px;
    @include button-font;
}
