@import "../../styles/var.scss";
@import "../../styles/typography.scss";

.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $bg-overlay;
    z-index: 1000;
}

.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bg-dialog-white;
    padding: 20px;
    border-radius: 8px;
    z-index: 1001;
    width: 90%;
    height: 406px;
    border-radius: 13px;
    box-shadow: 0px 4px 16px 0px $dialog-box-shadow;
    @media (min-width: 768px) {
        max-width: 488px;
    }

    .flex-dialog-close {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    .btn-close-dialog {
        background-color: transparent;
    }
    .dialog-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 22px;
        width: 100%;
        max-width: 424px;
        height: 100%;
    }

    .form-field-dialog {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: center;
        width: 100%;

        span.hint {
            position: absolute;
            top: 4.5rem;
            color: $error-red;
        }

        .input-dialog {
            box-sizing: border-box;
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 424px;
            height: 40px;
            border: 1px solid $dialog-input-border;
            border-radius: 38px;
            padding-left: 16px;
            padding-right: 11px;
        }

        .label-dialog {
            @include label-dialog-text;
            color: $dialog-label-color;
            width: 100%;
            text-align: left;
            padding: 5px;
        }
    }

    .btn-flex-dialog {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        gap: 17px;
        margin-top: 21px;
    }
}
