<ng-container *ngIf="dialogIsOpen">
    <div class="dialog-overlay" (click)="closeDialog()"></div>
    <div class="dialog-content">
        <div class="flex-dialog-close">
            <button class="btn-close-dialog" (click)="closeDialog()">
                <div class="icon-close-dialog"></div>
            </button>
        </div>
        <form [formGroup]="dialogForm" class="dialog-form" (ngSubmit)="saveDialog()">
            <div class="form-field-dialog"
                [class.error]="(dialogForm.get('url')?.hasError('required') || dialogForm.get('url')?.hasError('pattern')) &&  (dialogForm.get('url')?.touched || dialogForm.get('url')?.dirty)">
                <label class="label-dialog">Sosyal Medya Linki</label>
                <input class="input-dialog" type="text" formControlName="url" />
                @if (dialogForm.get('url')?.hasError('required') &&
                (dialogForm.get('url')?.touched ||
                dialogForm.get('url')?.dirty)) {
                <span class="hint error-message">Bu alan zorunludur</span>
                } @else if (dialogForm.get('url')?.hasError('pattern') &&
                (dialogForm.get('url')?.touched ||
                dialogForm.get('url')?.dirty)) {
                <span class="hint error-message">Lütfen geçerli url giriniz.</span>
                }
            </div>
            <div class="form-field-dialog"
                [class.error]="(dialogForm.get('name')?.hasError('required') || dialogForm.get('name')?.hasError('minlength')) &&  (dialogForm.get('name')?.touched || dialogForm.get('name')?.dirty)">
                <label class="label-dialog">Sosyal Medya Adı</label>
                <input class="input-dialog" type="text" formControlName="name" />
                @if (dialogForm.get('name')?.hasError('required') &&
                (dialogForm.get('name')?.touched
                ||
                dialogForm.get('name')?.dirty)) {
                <span class="hint error-message">Bu alan zorunludur</span>
                } @else if (dialogForm.get('name')?.hasError('minlength') &&
                (dialogForm.get('name')?.touched ||
                dialogForm.get('name')?.dirty)) {
                <span class="hint error-message">Lütfen en az 3 karakter giriniz.</span>
                }
            </div>
            <div class="form-field-dialog"
                [class.error]="(dialogForm.get('description')?.hasError('required') || dialogForm.get('description')?.hasError('minlength')) &&  (dialogForm.get('description')?.touched || dialogForm.get('description')?.dirty)">
                <label class="label-dialog">Açıklama</label>
                <input class="input-dialog" type="text" formControlName="description" />
                @if (dialogForm.get('description')?.hasError('required') && (dialogForm.get('description')?.touched
                ||
                dialogForm.get('description')?.dirty)) {
                <span class="hint error-message">Bu alan zorunludur</span>
                } @else if (dialogForm.get('description')?.hasError('minlength') &&
                (dialogForm.get('description')?.touched ||
                dialogForm.get('description')?.dirty)) {
                <span class="hint error-message">Lütfen en az 3 karakter giriniz.</span>
                }
            </div>
            <div class="btn-flex-dialog">
                <button class="btn-sm-light-purple" type="button" (click)="closeDialog()">Vazgeç</button>
                <button class="btn-sm-purple" type="submit">Kaydet</button>
            </div>
        </form>
    </div>
</ng-container>